* {
  transition: 0.1s all;
}

blockquote:before {
  flex: 1;
  font-weight: 1000;
  font-size: 40px;
  color: rgba(24, 123, 9, 0.5);
  height: 1em;
  margin-right: 0.5rem;
  margin-left: -1.5em;
  content: "“";
}

.banner-canvas-holder {
  padding-top: 1rem;
}

.banner-title {
  font-size: 40px;
}

.banner-subtitle {
  font-size: 12px;
}

.introduction-item {
  font-size: 0.8em;
}

.footer {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer__comment {
  margin: 1rem 0;
  text-align: center;
  user-select: none;
}

.divider {
  margin: 1rem 10%;
}

.text-divider {
  margin: 1rem 10%;
}
