---
type: tools
---

<html>
  <head>
    <title>莞工 GNU/Linux 协会</title>
    <script src="{{ site.baseurl }}/js/main.js" async></script>
    <link href="https://fonts.lug.ustc.edu.cn/css?family=Noto+Sans+SC&display=swap" rel="stylesheet" async>
    <link href="https://fonts.lug.ustc.edu.cn/css?family=Noto+Serif+SC&display=swap" rel="stylesheet" async>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" async>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles-mobile.css" media="screen and (max-width: 599px)" async>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/canvas-styles.css" async>
    <script src="https://kit.fontawesome.com/464686b8bf.js" crossorigin="anonymous" async></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="full-screen">
      {% include introduction-bar.html %}

      <div class="article article__centerify">
        <p>
          我们协会有一系列的工具和资源。任何人都可以使用；你不一定需要是会员。当然如果你是会员的话，我们会十分荣幸！假如你想学习，或者认为自己有足够的能力，无论你的技术如何，<a href="http://join.dglinux.com"> 我们随时都欢迎你的加入。</a>
        </p>
        <p>
          以下是一系列的资源。在通用资源中，你总会找到你自己需要的；而在课程资源中，你可以获得在开课之后，或开课时需要的小工具。玩的愉快！
        </p>
      </div>
      <div class="text-divider">
        <span>通用资源</span>
      </div>
      <div class="card-group container">
        <a href="https://mirrors.dgut.edu.cn" class="big-card">
          <div class="big-card__title">
            GNU/Linux 协会镜像源
          </div>
          <div class="big-card__content">
            GNU/Linux 镜像站依托于东莞理工学院，是教育网华南地区唯二的公网开源镜像站(另一为 SCAU Mirrors)，欢迎大家的使用。
          </div>
        </a>
        <a href="https://git.dglinux.com" class="big-card">
          <div class="big-card__title">
            GNU/Linux 协会 Git 服务器
          </div>
          <div class="big-card__content">
            GNU/Linux Git 服务器是架设在校内，意图给莞工学子使用。目前不在线。
          </div>
        </a>
      </div>
      <div class="text-divider">课程资源</div>
      <div class="card-group container">
        <div class="big-card big-card__empty">
          目前暂无课程资源
        </div>
      </div>
      <div class="divider"></div>

    {% include footer.html %}
    </div>
  </body>
</html>
