<div class="footer">
  <div class="footer__left">
    <div class="footer__title">对我们协会感兴趣了吗？<b>加入我们吧！</b></div>
    <div class="card-group">
      <div class="card">
        <div class="card__title">
          <i class="fab fa-telegram"></i>
          Telegram
        </div>
        <div class="card__content">
          <a href="https://t.me/dgutlug">t.me/dgutlug</a>
        </div>
      </div>
      <div class="card">
        <div class="card__title">
          <i class="fab fa-qq"></i>
          QQ 群组
        </div>
        <div class="card__content">
          <span>261795035</span>
        </div>
      </div>
      <div class="card">
        <div class="card__title">
          <i class="fas fa-home"></i>
          协会主页
        </div>
        <div class="card__content">
          <a href="https://linux.dgut.edu.cn">linux.dgut.edu.cn</a>
        </div>
      </div>
    </div>
    <div class="footer__comment">
      Copyleft 2019 dglinux. some rights reserved.
    </div>
  </div>
  <div class="footer__right">
    <img style="margin-right: 1rem" src="/assets/logo.png" alt="GNU/Linux 协会 LOGO!" exempt="true">
  </div>
</div>

<script src="/js/imageDangler.js" async></script>
