<div id="introduction-bar" class="introduction-bar introduction-bar__sticky">
  <a class="introduction-item {% if page.type == 'index' %} introduction-item__active {% endif %}" href="{{ site.baseurl }}/">
    主页
  </a>
  <a class="introduction-item {% if page.type == 'introduction' %} introduction-item__active {% endif %}" href="{{ site.baseurl }}/introduction.html">
    协会介绍
  </a>
  <a class="introduction-item {% if page.type == 'blog' or include.type == 'blog' %} introduction-item__active {% endif %}" href="{{ site.baseurl }}/blog.html">
    博客
  </a>
  <a class="introduction-item {% if page.type == 'tools' %} introduction-item__active {% endif %}" href="{{ site.baseurl }}/tools.html">
    工具
  </a>
  <a class="introduction-item {% if page.type == 'about' %} introduction-item__active {% endif %}" href="{{ site.baseurl }}/about.html">
    关于
  </a>
</div>
