<div id="introduction-bar" class="introduction-bar">
  <a class="introduction-item" href="/">
    主页
  </a>
  <a class="introduction-item {% if page.type == 'introduction' %} introduction-item__active {% endif %}" href="introduction">
    协会介绍
  </a>
  <a class="introduction-item {% if page.type == 'blog' %} introduction-item__active {% endif %}" href="blog">
    博客
  </a>
  <a class="introduction-item {% if page.type == 'tools' %} introduction-item__active {% endif %}" href="tools">
    工具
  </a>
  <a class="introduction-item {% if page.type == 'about' %} introduction-item__active {% endif %}" href="about">
    关于
  </a>
</div>
