<html>
  <head>
    <title>莞工 GNU/Linux 协会</title>
    <script src="{{ site.baseurl }}/js/main.js" async></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet" async>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" async>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles-mobile.css" media="screen and (max-width: 599px)" async>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/canvas-styles.css" async>
    <script src="https://kit.fontawesome.com/464686b8bf.js" crossorigin="anonymous" async></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="full-screen">
      {% include introduction-bar.html type="blog" content="SA" %}

      <div class="article">
        <h1>{{ page.title }}</h1>
        <div class="post-info">
          <div><i class="fas fa-clock"></i> 发布日期: {{ page.date }}</div>
          <div><i class="fas fa-archive"></i> 分类:
            {% for category in page.categories %}
            <span class="tag">{{ category }}</span>
            {% endfor %}
          </div>
          <div><i class="fas fa-link"></i> 永久链接:
            <a href="{{ site.url }}/{{ page.url }}">{{ site.url }}/{{ page.url }}</a>
          </div>
        </div>
      </div>
      <div class="snip"></div>
      <div class="article article__centerify">
        {{ content }}
      </div>
      <div class="divider"></div>

    {% include footer.html %}
    </div>
  </body>
</html>
